# Xcode
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Secrets / signing
*.p12
*.mobileprovision
*.provisionprofile
Secrets.xcconfig
